*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    
    font-size: 24px;   
    margin: 44px 0 144px 76px ;
    
}
.links{
    color: #989D9C ;
    margin-left: 23px;
    cursor: pointer;
}





.button-login {
    width: 130px;
    height: 41px;
    border-radius: 50px;
    background-color: #665ae1;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    margin-left: 23px; 
}


.logo-image{
    width: 568px;
    height: 500px;
    margin-left: 125px;
}

section{
    display:inline-block;
    
}

h1{
    font-size:100px ;
    font-weight: 900;
    color: #515151;
}

h2{
    font-size: 58px;
    font-weight: 500;
    color: #515151;
}

p{
    font-size: 24px;
    font-weight: 400;
    width: 515px;
    color: #848484;
    margin-top: 32px;
    margin-bottom: 65px;
    word-spacing: 2px;
    word-break: normal;
    
   
}

.text-section{
    display:inline-block;
    margin-left: 86px;
}

.button-section{
    font-size: 28px;
    font-weight: 700;
    width: 239px;
    height: 64px;
    margin-top: 15px;
    border-radius: 50px;
    border: none;
    background-color: #ADFF00;
    cursor: pointer;
    filter: drop-shadow(5px 4px 4px rgba(0,0,0,0.25));


}

@media screen and (max-width:900px){
    header{
        display: none;
    }

    p{
        display: none;
    }

    main{
        margin: 0;
        padding: 0;
        position: relative;
        top:149px ;
    }

    section{
        position: relative;
        right: 20px;
    }

    .logo-image{
        width: 354px;
        height: 317px;
        margin: 0 22px;
       
    }

    h1{
        width: 263px;
        height: 52px;
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;
        margin: 24px 0 7px;
    }

    h2{
        width: 232px;
        height: 37px;
        font-size: 30px;
        line-height: 36px;
        text-align: left;

    }
    
}
@media screen and (max-width:900px){
    header{
        display: none;
    }

    p{
        display: none;
    }

    main{
        margin: 0;
        padding: 0;
        position: relative;
        top:149px ;
    }

    section{
        position: static;
        right: 20px;
        
    }

    .logo-image{
        width: 354px;
        height: 317px;
        margin: 0 22px;
       
    }

    h1{
        width: 263px;
        height: 52px;
        font-size: 50px;
        font-weight: 900;
        line-height: 60.95px;
        margin: 24px 0 7px;
    }

    h2{
        width: 232px;
        height: 37px;
        font-size: 30px;
        line-height: 36px;
        text-align: left;

    }
    
}
